<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- AKAN DITAMPLIKAN UNTUK Session PESERTA -->
    <div sec:authorize="hasRole('ROLE_PESERTA')">
        <nav class="navbar navbar-default background-color= #1179f4" >
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span sec:authentication="name"></span></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Jadwal dan Materi
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li th:each="v : ${jw}"><a href="/peserta/jadwal" th:href="@{'/peserta/jadwal/'+${v.id}}"><span th:text="${v.waktu}"></span></a></li>
                            </ul>
                        </div></li>
                        <li><a href="/logout" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </div>

    <!-- Akan Ditampilkan Saat Session Sekretaris -->
    <div sec:authorize="hasRole('ROLE_SEKRETARIS')">
            <nav class="navbar navbar-default background-color= #1179f4" >
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Bootcamp Tabel Data Informatika</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/admin/mentor/add" th:href="@{/admin/mentor/add}">Tambah Pemateri</a></li>
                                <li><a href="/admin/jadwal/add" th:href="@{/admin/jadwal/add}">Tambah Jadwal</a></li>
                                <li><a href="/admin/peserta/list" th:href="@{/admin/peserta/list}">Daftar Peserta</a></li>
                                <li><a href="/logout" th:href="@{/logout}">Logout</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav>
    </div>



    <!-- Akan Ditampilkan Saat Session Pemateri atau Mentor -->
    <div sec:authorize="hasRole('ROLE_MENTOR')">
            <nav class="navbar navbar-default background-color= #1179f4" >
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Bootcamp Tabel Data Informatika</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/mentor/materi/add" th:href="@{/mentor/materi/add}">Tambah Materi</a></li>
                                <li><a href="/logout" th:href="@{/logout}">Logout</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </nav>
    </div>
</body>
</html>